<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-8">Resume</div>

  <div class="grid grid-cols-2 gap-4">
    <!-- Education training -->
    <div>
      <div class="text-2xl font-semibold mb-4 underline">Education and training</div>
      {{ range .Site.Params.homepage.resume.education}}
      <div>
        <div class="text-xl font-bold my-2">{{.title}}</div>
        <p class="my-1 font-light">at {{.where}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
      </div>
      {{ end }}
    </div>

    <!-- Skills -->
    <div>
      <div class="text-2xl font-semibold mb-4 underline">Skills</div>
      {{ range .Site.Params.homepage.resume.skills}}
      <div class="font-light my-1">{{.}}</div>
      {{end}}
    </div>

    <!-- Courses -->
    <div>
      <div class="text-2xl font-semibold mb-4 underline">Internships</div>
      {{ range .Site.Params.homepage.resume.internships}}
      <div>
        <div class="text-xl font-bold my-2">{{.company}}</div>
        <p class="my-1 font-light">at {{.address}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
